body {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    margin: auto;
    margin-top: 3%;
}
.display-none {display: none;}

.errorColor {
    color: #FF0000; 
    font-weight: bold; 
   -webkit-text-stroke: 0.6px lightgray;
}